@font-face {
  font-family: "Estedad";
  src: url(../fonts/Estedad-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Kyiv";
  src: url(../fonts/KyivTypeSans-Regular.ttf) format("ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}
.wrapper::before {
  opacity: 0.7;
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 40px;
  height: 100%;
  width: 110px;
  background: url(../img/decor_1.png) left top/110px 800px;
  background-repeat: space;
}
@media (max-width: 1430px) {
  .wrapper::before {
    display: none;
  }
}
.wrapper::after {
  opacity: 0.7;
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 40px;
  height: 100%;
  width: 125px;
  background: url(../img/decor_2.png) left top/125px 697px;
  background-repeat: space;
}
@media (max-width: 1430px) {
  .wrapper::after {
    display: none;
  }
}

body {
  font-family: "Hind Vadodara", serif;
}

button {
  cursor: pointer;
}

input:focus-visible::-moz-placeholder {
  font-size: 0;
}

input:focus-visible:-ms-input-placeholder {
  font-size: 0;
}

input:focus-visible::placeholder {
  font-size: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 60px;
}
.header .container {
  position: relative;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 15px;
}
.header__main {
  margin: 0 auto;
  max-width: 525px;
  text-align: center;
}
.header__title {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
}
.header__title span {
  color: #FFBC00;
}
.header__subtitle {
  font-family: "Estedad", serif;
  margin-top: 27px;
  margin-bottom: 20px;
}
.header__list {
  display: flex;
  gap: 68px;
  justify-content: center;
}
.header__link {
  color: #000;
  font-size: 20px;
}
.header__link_active {
  color: #AA43A2;
  position: relative;
}
.header__link_active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #AA43A2;
}
.header__form {
  margin-top: 28px;
  display: flex;
  gap: 15px;
}
.header__form-input {
  outline: none;
  border: none;
  flex: 1 1 100%;
  border-radius: 30px;
  background: #D9D9D9;
  color: #A5A5A5;
  padding: 10px 0 10px 20px;
}
.header__form-input::-moz-placeholder {
  color: #A5A5A5;
  font-family: inherit;
}
.header__form-input:-ms-input-placeholder {
  color: #A5A5A5;
  font-family: inherit;
}
.header__form-input::placeholder {
  color: #A5A5A5;
  font-family: inherit;
}
.header__form-btn {
  border-radius: 50%;
  border: none;
  background: #FFBC00;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__form-btn img {
  cursor: pointer;
}

.card {
  background: #F8F8F8;
  padding: 10px 30px;
}
.card__title {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 400;
}
.card__title a {
  color: #000;
}
.card__date {
  font-size: 10px;
  margin: 10px;
  display: block;
  text-align: center;
  color: #555555;
}
.card__img {
  float: left;
  margin-right: 12px;
}
.card__content {
  font-size: 14px;
}
.card__more {
  margin-top: 10px;
  color: #FFBC00;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.card__more:hover {
  text-decoration: underline;
}

.footer {
  background: #2D2D2D;
  position: relative;
  z-index: 3;
  padding: 49px 0;
  color: #fff;
  text-align: center;
}
.footer a {
  color: #fff;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__select {
  display: block;
  margin-top: 45px;
  background: transparent;
  border: none;
}
.footer__select .list {
  top: 0%;
  left: 70px;
}
.footer__select::after {
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.footer__select .option {
  color: #000;
}
.footer__select .current {
  font-size: 20px;
}
.footer__logo {
  display: block;
}
.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__menu-link {
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
}
.footer__menu-link:hover {
  color: #FFBC00;
}
.footer__tel-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__tel-link {
  transition: color 0.3s;
  font-size: 20px;
  font-weight: 500;
}
.footer__tel-link:hover {
  color: #FFBC00;
}
.footer__socials-list {
  display: flex;
  gap: 27px;
  align-items: center;
}

.grid {
  padding-top: 46px;
  height: 780px;
}
.grid .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 10%);
  gap: 38px;
  height: 100%;
  padding-bottom: 55px;
}
.grid__item {
  background: #F8F8F8;
  padding: 17px 43px;
  text-align: center;
}
.grid__item-title {
  font-weight: 400;
  width: 100%;
  margin-bottom: 25px;
  font-size: 20px;
}
.grid__item a {
  color: #000;
}
.grid__list {
  width: 100%;
}
.grid__list-item {
  width: 100%;
  border-bottom: 1px solid #B9B9B9;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.grid__list-item:not(:last-child) {
  margin-bottom: 25px;
}

.more-projects {
  display: none;
  padding: 42px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 42px;
}
.more-projects__title {
  margin-bottom: 42px;
  text-align: center;
  font-weight: 400;
}
.more-projects__block {
  display: none;
}
.more-projects__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 53px;
  padding-bottom: 45px;
}
.more-projects .card {
  max-width: 290px;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#FFBC00, #AA43A2);
  border-radius: 25px;
  border: 3px solid #f1f1f1;
}/*# sourceMappingURL=style.css.map */