// vars
$textColor: #000;
$primary1: #FFBC00;
$primary2: #AA43A2;

.projects{
    .container{
        border-bottom: 1px solid #000;
        padding-bottom: 45px;
    }
    &__text{
        font-family: 'Kyiv', serif;
        font-size: 20px;
        margin-top: 25px;
        text-align: center;
        &:first-child{
            margin-top: 77px;
        }
    }
    &__list{
        display: flex;
        margin-top: 78px;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 50px;
        padding-bottom: 45px;
    }
    &__item{
        max-width: 290px;
        &-title{
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
            font-weight: 400;
        }
    }
    &__btn{
        background: $primary2;
        padding: 10px 17px;
        color: #fff;
        border-radius: 48px;
        font-size: 20px;
        font-weight: 500;
        display: block;
        max-width: 199px;
        text-align: center;
        border: none;
        margin: 20px auto 0 auto;
        transition: background .3s;
        &:hover{
            background: darken($primary2, 15%);
        }
    }
}

// slider
.slick-arrow{
    top: 100%;
    z-index: 3;
    &::before{
        display: none;
    }
}

.slick-next{
    right: 40%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(135deg);
}

.slick-prev{
    left: 40%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(-135deg);
}

.slick-dots{   
    button{
        background: #D9D9D9 !important;
        border-radius: 50%;
        width: 37px !important;
        height: 37px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            display: none;
        }
        color: #000 !important;
        line-height: auto !important;
        font-size: 20px !important;
        transition: background .3s;
    }
    li{
        width: auto;
        &.slick-active{
            button{
                background: #989898 !important;
            }
        }
    } 
}

