// fonts
@font-face {
    font-family: 'Estedad';
    src: url(../fonts/Estedad-Regular.woff2)  format("woff2");
}

@font-face {
    font-family: 'Kyiv';
    src: url(../fonts/KyivTypeSans-Regular.ttf) format("ttf");
}

// vars
$textColor: #000;
$primary1: #FFBC00;
$primary2: #AA43A2;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.wrapper{
    position: relative;
    overflow: hidden;
    &::before{
        opacity: 0.7;
        content: '';
        display: block;
        position: absolute;
        left: 20px;
        top: 40px;
        height: 100%;
        width: 110px;
        background: url(../img/decor_1.png) left top / 110px 800px;
        background-repeat: space;
        @media (max-width:1430px) {
            display: none;
        }
    }
    &::after{
        opacity: 0.7;
        content: '';
        display: block;
        position: absolute;
        right: 20px;
        top: 40px;
        height: 100%;
        width: 125px;
        background: url(../img/decor_2.png) left top / 125px 697px;
        background-repeat: space;
        @media (max-width:1430px) {
            display: none;
        }
    }
}

body{
    font-family: 'Hind Vadodara', serif;
}

button{
    cursor: pointer;
}

input:focus-visible{
    &::placeholder{
        font-size: 0;
    }
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

// header
.header{
    padding-top: 60px;
    .container{
        position: relative;
    }
    &__logo{
        position: absolute;
        top: 0;
        left: 15px;
    }
    &__main{
        margin: 0 auto;
        max-width: 525px;
        text-align: center;
    }
    &__title{
        font-size: 48px;
        font-weight: 600;
        font-family: 'Poppins', serif;
        span{
            color: $primary1;
        }
    }
    &__subtitle{
        font-family: 'Estedad', serif;
        margin-top: 27px;
        margin-bottom: 20px;
    }
    &__list{
        display: flex;
        gap: 68px;
        justify-content: center;
    }
    &__link{
        color: #000;
        font-size: 20px;
        &_active{
            color: $primary2;
            position: relative;
            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                background: $primary2;
            }
        }
    }
    &__form{
        margin-top: 28px;
        display: flex;
        gap: 15px;
        &-input{
            outline: none;
            border: none;
            flex: 1 1 100%;
            border-radius: 30px;
            background: #D9D9D9;
            color: #A5A5A5;
            padding: 10px 0 10px 20px;
            &::placeholder{
                color: #A5A5A5;
                font-family: inherit;
            }
        }
        &-btn{
            border-radius: 50%;
            border: none;
            background: $primary1;
            width: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                cursor: pointer;
            }
        }
    }
}


.card{
    background: #F8F8F8;
    padding: 10px 30px;
    &__title{
        font-size: 18px;
        margin-bottom: 5px;
        text-align: center;
        font-weight: 400;
        a{
            color: #000;
        }
    }
    &__date{
        font-size: 10px;
        margin: 10px;
        display: block;
        text-align: center;
        color: #555555;
    }
    &__img{
        float: left;
        margin-right: 12px;
    }
    &__content{
        font-size: 14px;
    }
    &__more{
        margin-top: 10px;
        color: $primary1;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        &:hover{
            text-decoration: underline;
        }
    }
}

// footer
.footer{
    background: #2D2D2D;
    position: relative;
    z-index: 3;
    padding: 49px 0;
    color: #fff;
    text-align: center;
    a{
        color: #fff;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__select{
        display: block;
        margin-top: 45px;
        background: transparent;
        border: none;
        .list{
            top: 0%;
            left: 70px;
        }
        &::after{
            border-bottom-color: #fff;
            border-right-color: #fff;
        }
        .option{
            color: #000;
        }
        .current{
            font-size: 20px;
        }
    }
    &__logo{
        display: block;
    }
    &__menu-item{
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &__menu-link{
        font-size: 20px;
        font-weight: 500;
        transition: color .3s;
        &:hover{
            color: $primary1;
        }
    }
    &__tel-item{
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &__tel-link{
        transition: color .3s;
        font-size: 20px;
        font-weight: 500;
        &:hover{
            color: $primary1;
        }
    }
    &__socials-list{
        display: flex;
        gap: 27px;
        align-items: center;
    }
}

// grid
.grid{
    padding-top: 46px;
    height: 780px;
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);       
        grid-template-rows: repeat(10, 10%);
        gap: 38px;
        height: 100%;
        padding-bottom: 55px;
    }
    &__item{
        background: #F8F8F8;
        padding: 17px 43px;
        text-align: center;
        &-title{
            font-weight: 400;
            width: 100%;
            margin-bottom: 25px;
            font-size: 20px;
        }
        a{
            color: #000;
        }
    }
    &__list{
        width: 100%;
        &-item{
            width: 100%;
            border-bottom: 1px solid #B9B9B9;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            &:not(:last-child){
                margin-bottom: 25px;
            }
        }
    }
}

// more projects
.more-projects{
    display: none;
    padding: 42px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 42px;
    &__title{
        margin-bottom: 42px;
        text-align: center;
        font-weight: 400;
    }
    &__block{
        display: none;
    }
    &__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 53px;
        padding-bottom: 45px;
    }
    .card{
        max-width: 290px;
    }
}

// scrollbar
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient($primary1, $primary2);
    border-radius: 25px;
    border: 3px solid #f1f1f1;
  }
  